WEBSITE_PORT=3003
ADMIN_PORT=3103
NODE_ENV=production
PRODUCT_DOMAIN=nourcoches.ibnbatoutaweb.com
ADMIN_DOMAIN=admin.nourcoches.ibnbatoutaweb.com
ADMIN_USER=admin
ADMIN_PASS=change-me-now
COOKIE_SECURE=false
DATA_FILE=/app/storage/db.json
UPLOADS_DIR=/app/storage/uploads
DEV_FRONTEND_URL=http://localhost:5173
